@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


h1, h2, h3 {
    font-family: "Playball", serif;
    font-weight: 400;
    font-style: normal;
    color: map-get($text-colors, rosi);

}

body, p, li, span {
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    font-style: normal;
    color: #333;
}

.testimonios__parrafo {
                font-style: italic;
                color: map-get($text-colors, cafesito);
            }

.h2footer {
        color: map-get($text-colors, blanco);
    }

.contacto h2,h3 {
    color: map-get($text-colors, blanco);
    font-family: 'Poppins', sans-serif;
}

.pcontact{
    color:map-get($text-colors, blanco);
}