


@mixin tablet {
    @media (max-width: 768px) {
        @content;

    } 
}

@mixin mobile {
    @media (max-width: 576px) {
        @content;

    } 
}

@mixin minimobile {
    @media (max-width: 480px) {
        @content;
        } 
    }

@mixin tarjetservices ($fondotarjet, $paddintarjet) {
    background-color: $fondotarjet;
    height: auto;
    box-shadow: 0.1rem 0.1rem #504d4d;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: $paddintarjet;
    flex-direction: column;
}