h1{
    font-family: 'Georgia', serif;
    font-style: italic;
    font-weight: bold;
    }
    
    h2{
    font-family: 'Georgia', serif;
    font-style: italic;
    font-weight: bold;
    color: map-get($text-colors, rosi);
    }

    .card-title {
        text-align: center;
        font-size: 1.1rem;
    }

    .h2footer {
        color: map-get($text-colors, blanco);
    }